<a href="https://colab.research.google.com/github/MwangiMwaniki/Flight-time-optimization-/blob/main/Moringa_Data_Science_Prep_W5_Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing python libraries
import pandas as pd
import numpy as np

LOADING DATASETS

In [ ]:
# load our dataset
df = pd.read_csv('flights.csv')
df.head(10)

   YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015      1    1  ...            NaN                 NaN            NaN
1  2015      1    1  ...            NaN                 NaN            NaN
2  2015      1    1  ...            NaN                 NaN            NaN
3  2015      1    1  ...            NaN                 NaN            NaN
4  2015      1    1  ...            NaN                 NaN            NaN
5  2015      1    1  ...            NaN                 NaN            NaN
6  2015      1    1  ...            NaN                 NaN            NaN
7  2015      1    1  ...            NaN                 NaN            NaN
8  2015      1    1  ...            NaN                 NaN            NaN
9  2015      1    1  ...            NaN                 NaN            NaN

[10 rows x 31 columns]

In [ ]:
#exporting the CSV FILE
Trimed_Flights_data = df.head(1000000)
Trimed_Flights_data.to_csv('Trimed_Flights_data.csv')

In [ ]:
df1 = pd.read_csv('Trimed_Flights_data.csv')
df1.head(10)

   Unnamed: 0  YEAR  MONTH  ...  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY WEATHER_DELAY
0           0  2015      1  ...            NaN                  NaN           NaN
1           1  2015      1  ...            NaN                  NaN           NaN
2           2  2015      1  ...            NaN                  NaN           NaN
3           3  2015      1  ...            NaN                  NaN           NaN
4           4  2015      1  ...            NaN                  NaN           NaN
5           5  2015      1  ...            NaN                  NaN           NaN
6           6  2015      1  ...            NaN                  NaN           NaN
7           7  2015      1  ...            NaN                  NaN           NaN
8           8  2015      1  ...            NaN                  NaN           NaN
9           9  2015      1  ...            NaN                  NaN           NaN

[10 rows x 32 columns]

In [ ]:
# checking our rows and columns
df1.shape

(1000000, 32)

In [ ]:
# checking on columns
df1.columns

Index(['Unnamed: 0', 'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE',
       'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [ ]:
#Change all column names to lower case
df1.columns = map(str.lower, df1.columns)
df1.columns

Index(['unnamed: 0', 'year', 'month', 'day', 'day_of_week', 'airline',
       'flight_number', 'tail_number', 'origin_airport', 'destination_airport',
       'scheduled_departure', 'departure_time', 'departure_delay', 'taxi_out',
       'wheels_off', 'scheduled_time', 'elapsed_time', 'air_time', 'distance',
       'wheels_on', 'taxi_in', 'scheduled_arrival', 'arrival_time',
       'arrival_delay', 'diverted', 'cancelled', 'cancellation_reason',
       'air_system_delay', 'security_delay', 'airline_delay',
       'late_aircraft_delay', 'weather_delay'],
      dtype='object')

In [ ]:
# dropping unnecessary columns
df1.drop(['tail_number', 'taxi_out',
       'wheels_off', 'air_time', 
       'wheels_on','taxi_in'],axis= 1, inplace = True)

In [ ]:
#New columns after dropping
df1.columns

Index(['unnamed: 0', 'year', 'month', 'day', 'day_of_week', 'airline',
       'flight_number', 'origin_airport', 'destination_airport',
       'scheduled_departure', 'departure_time', 'departure_delay',
       'scheduled_time', 'elapsed_time', 'distance', 'scheduled_arrival',
       'arrival_time', 'arrival_delay', 'diverted', 'cancelled',
       'cancellation_reason', 'air_system_delay', 'security_delay',
       'airline_delay', 'late_aircraft_delay', 'weather_delay'],
      dtype='object')

In [ ]:
# preview our columns
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 26 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   unnamed: 0           1000000 non-null  int64
 1   year                 1000000 non-null  int64
 2   month                1000000 non-null  int64
 3   day                  1000000 non-null  int64
 4   day_of_week          1000000 non-null  int64
 5   airline              1000000 non-null  object
 6   flight_number        1000000 non-null  int64
 7   origin_airport       1000000 non-null  object
 8   destination_airport  1000000 non-null  object
 9   scheduled_departure  1000000 non-null  int64
 10  departure_time       960842 non-null   float64
 11  departure_delay      960842 non-null   float64
 12  scheduled_time       999998 non-null   float64
 13  elapsed_time         957394 non-null   float64
 14  distance             1000000 non-null  int64
 15  scheduled_arrival    1000000 non-null  int64
 16  arrival_time         959117 non-null   float64
 17  arrival_delay        957394 non-null   float64
 18  diverted             1000000 non-null  int64
 19  cancelled            1000000 non-null  float64
 20  cancellation_reason  40132 non-null    object
 21  air_system_delay     221041 non-null   float64
 22  security_delay       221041 non-null   float64
 23  airline_delay        221041 non-null   float64
 24  late_aircraft_delay  221041 non-null   float64
 25  weather_delay        221041 non-null   float64
dtypes: float64(12), int64(10), object(4)
memory usage: 198.4+ MB

In [ ]:
# check for null values
df1.isnull().any()

Unnamed: 0             False
YEAR                   False
MONTH                  False
DAY                    False
DAY_OF_WEEK            False
AIRLINE                False
FLIGHT_NUMBER          False
TAIL_NUMBER             True
ORIGIN_AIRPORT         False
DESTINATION_AIRPORT    False
SCHEDULED_DEPARTURE    False
DEPARTURE_TIME          True
DEPARTURE_DELAY         True
TAXI_OUT                True
WHEELS_OFF              True
SCHEDULED_TIME          True
ELAPSED_TIME            True
AIR_TIME                True
DISTANCE               False
WHEELS_ON               True
TAXI_IN                 True
SCHEDULED_ARRIVAL      False
ARRIVAL_TIME            True
ARRIVAL_DELAY           True
DIVERTED               False
CANCELLED              False
CANCELLATION_REASON     True
AIR_SYSTEM_DELAY        True
SECURITY_DELAY          True
AIRLINE_DELAY           True
LATE_AIRCRAFT_DELAY     True
WEATHER_DELAY           True
dtype: bool

In [ ]:
#After further analysis we saw it was necessary to drop more columns
df1.drop(['cancellation_reason', 'air_system_delay', 'security_delay',
       'airline_delay', 'late_aircraft_delay', 'weather_delay'],axis= 1, inplace = True)
df1.head(5)

   unnamed: 0  year  month  ...  arrival_delay  diverted cancelled
0           0  2015      1  ...          -22.0         0       0.0
1           1  2015      1  ...           -9.0         0       0.0
2           2  2015      1  ...            5.0         0       0.0
3           3  2015      1  ...           -9.0         0       0.0
4           4  2015      1  ...          -21.0         0       0.0

[5 rows x 20 columns]

In [ ]:
df1.tail()

        unnamed: 0  year  ...  late_aircraft_delay  weather_delay
999995      999995  2015  ...                  NaN            NaN
999996      999996  2015  ...                  NaN            NaN
999997      999997  2015  ...                  NaN            NaN
999998      999998  2015  ...                  0.0            0.0
999999      999999  2015  ...                  NaN            NaN

[5 rows x 26 columns]

In [ ]:
# drop null values
df1 = df1.dropna()
df1.info

<bound method DataFrame.info of         unnamed: 0  year  month  ...  arrival_delay  diverted cancelled
0                0  2015      1  ...          -22.0         0       0.0
1                1  2015      1  ...           -9.0         0       0.0
2                2  2015      1  ...            5.0         0       0.0
3                3  2015      1  ...           -9.0         0       0.0
4                4  2015      1  ...          -21.0         0       0.0
...            ...   ...    ...  ...            ...       ...       ...
999995      999995  2015      3  ...          -16.0         0       0.0
999996      999996  2015      3  ...           -8.0         0       0.0
999997      999997  2015      3  ...           11.0         0       0.0
999998      999998  2015      3  ...           26.0         0       0.0
999999      999999  2015      3  ...          -36.0         0       0.0

[957394 rows x 20 columns]>

In [ ]:
#Check for duplicated rows
df1.duplicated()
# and drop if any
df1.drop_duplicates()
#There were no duplicates in this dataset

        unnamed: 0  year  month  ...  arrival_delay  diverted cancelled
0                0  2015      1  ...          -22.0         0       0.0
1                1  2015      1  ...           -9.0         0       0.0
2                2  2015      1  ...            5.0         0       0.0
3                3  2015      1  ...           -9.0         0       0.0
4                4  2015      1  ...          -21.0         0       0.0
...            ...   ...    ...  ...            ...       ...       ...
999995      999995  2015      3  ...          -16.0         0       0.0
999996      999996  2015      3  ...           -8.0         0       0.0
999997      999997  2015      3  ...           11.0         0       0.0
999998      999998  2015      3  ...           26.0         0       0.0
999999      999999  2015      3  ...          -36.0         0       0.0

[957394 rows x 20 columns]

In [ ]:
# check for unique values
df1.nunique()

unnamed: 0             957394
year                        1
month                       3
day                        31
day_of_week                 7
airline                    14
flight_number            6474
origin_airport            315
destination_airport       315
scheduled_departure      1220
departure_time           1431
departure_delay           845
scheduled_time            455
elapsed_time              681
distance                 1263
scheduled_arrival        1332
arrival_time             1440
arrival_delay             870
diverted                    1
cancelled                   1
dtype: int64

In [ ]:
#exporting the clean dataset
df1.to_csv('Aviation_clean.csv')